<div id="page-container" class="fade">
  <!-- begin login -->
  <div class="login login-with-news-feed">
    <!-- begin news-feed -->
    <div class="news-feed">
      <div class="news-image" style="background-image: url(assets/img/login-bg-11.jpg)"></div>
      <div class="news-caption">
        <h4 class="caption-title"><b>CATS</b> Threat Console</h4>
        <p>
          Download the Color Admin app for iPhone®, iPad®, and Android™. Lorem ipsum dolor sit amet, consectetur
          adipiscing elit.
        </p>
      </div>
    </div>
    <!-- end news-feed -->
    <!-- begin right-content -->
    <div class="right-content">
      <!-- begin login-header -->
      <div class="login-header">
        <div class="brand">
          <a href="index.html" class="navbar-brand"><img src="assets/img/user/logo.png" alt="" /></a>
        </div>
        <div class="icon">
          <i class="fa fa-sign-in-alt"></i>
        </div>
      </div>
      <!-- end login-header -->
      <!-- begin login-content -->
      <div class="login-content">
        <form class="margin-bottom-0" #login="ngForm" name="form" (ngSubmit)="login.form.valid && submitLogin()"
          novalidate>

          <div>
            <label style="color: red;">{{errorMsg}}</label>
          </div>

          <div class="form-group m-b-15">
            <input type="text" class="form-control form-control-lg" placeholder="Enter Email" name="email"
              [(ngModel)]="loginForm.userName" [ngClass]="{ 'is-invalid': login.submitted && email.invalid }" required
             #email="ngModel">
            <div *ngIf="login.submitted && email.invalid" class="invalid-feedback">
              <div *ngIf="email.errors.required">Email is required</div>
              <!--  email <div *ngIf="email.errors.email">Email must be a valid email address</div> -->
            </div>
          </div>
          <div class="form-group m-b-15">
            <!-- <input type="password"  placeholder="Password" required /> -->
            <input type="password" class="form-control form-control-lg" placeholder="Password" name="password"
              [(ngModel)]="loginForm.password" [ngClass]="{ 'is-invalid': login.submitted && password.invalid }"
              required #password="ngModel">
            <div *ngIf="login.submitted && password.invalid" class="invalid-feedback">
              <div *ngIf="password.errors.required">Password is required</div>
            </div>
          </div>
          <div class="checkbox checkbox-css m-b-30">
            <input type="checkbox" id="remember_me_checkbox" value="" />
            <label for="remember_me_checkbox">
              Remember Me
            </label>
          </div>
          <div class="login-buttons">
            <button type="submit" class="btn btn-primary btn-block btn-lg">Sign me in</button>
          </div>
          <div class="m-t-20 m-b-40 p-b-40 text-inverse">
            Not a member yet? Click <a href="register_v3.html">here</a> to register.
          </div>
          <hr />
          <p class="text-center text-grey-darker mb-0">
            &copy; CATS Threat Console All Right Reserved 2020
          </p>
        </form>
      </div>
      <!-- end login-content -->
    </div>
    <!-- end right-container -->
  </div>
  <!-- end login -->


  <!-- begin scroll to top btn -->
  <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i
      class="fa fa-angle-up"></i></a>
  <!-- end scroll to top btn -->
</div>