<div class="row">
    <!--1st-->
    <div class="col-lg-12">
        <!-- begin panel -->
        <div class="panel panel-inverse" data-sortable-id="index-1">
            <div class="panel-heading">
                <h4 class="panel-title">CVE Info</h4>
                <div class="panel-heading-btn" style="margin-top: -21px;">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default"
                        data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success"
                        data-click="panel-reload"><i class="fa fa-redo"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning"
                        data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger"
                        data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="panel-body mt-2">
                <div class="row m-4 mt-3">
                    <div class="col-md-5" style="width:100%; border:1px solid #b3b1b1; padding:14px;">
                        <div class="row">
                            <div class="col-md-4">
                                <h5 class="heading">CVE ID</h5>
                            </div>
                            <div class="col-md-8">
                                <p>{{viewData.cve_id}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 class="heading">Severity</h5>
                            </div>
                            <div class="col-md-8">
                                <p>{{viewData.severity}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 class="heading">Part</h5>
                            </div>
                            <div class="col-md-8">
                                <p>{{viewData.part}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 class="heading">Product</h5>
                            </div>
                            <div class="col-md-8">
                                <p>{{viewData.product}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 class="heading">Sw Edition</h5>
                            </div>
                            <div class="col-md-8">
                                <p>{{viewData.sw_edition}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 class="heading">Target Sw</h5>
                            </div>
                            <div class="col-md-8">
                                <p>{{viewData.target_sw}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 class="heading">Description</h5>
                            </div>
                            <div class="col-md-8">
                                <p>{{viewData.description}}</p>
                            </div>

                        </div>

                    </div>

                    <div class="col-md-1"></div>

                    <div class="col-md-6" style="width:100%;border:1px solid #b3b1b1; padding:14px;">
                        <div class="row">
                            <div class="col-md-4">
                                <h5 class="heading">Vendor</h5>
                            </div>
                            <div class="col-md-8">
                                <p>{{viewData.vendor}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 class="heading">Product Name</h5>
                            </div>
                            <div class="col-md-8">
                                <p>{{viewData.product_name}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 class="heading">Version</h5>
                            </div>
                            <div class="col-md-8">
                                <p>{{viewData.version}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 class="heading">Edition</h5>
                            </div>
                            <div class="col-md-8">
                                <p>{{viewData.edition}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 class="heading">Language</h5>
                            </div>
                            <div class="col-md-8">
                                <p>{{viewData.language}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 class="heading">Target Hw</h5>
                            </div>
                            <div class="col-md-8">
                                <p>{{viewData.target_hw}}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 class="heading">Other</h5>
                            </div>
                            <div class="col-md-8">
                                <p>{{viewData.other}}</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs">
                            <li class="nav-items">
                                <a href="#default-tab-1" data-toggle="tab" class="nav-link">
                                    <span class="d-sm-none">Tab 1</span>
                                    <span class="d-sm-block d-none">Recommendations</span>
                                </a>
                            </li>
                            <!-- <li class="nav-items" disabled>
                                <a href="javascript:;" class="nav-link" >
                                    <span class="d-sm-none">Tab 2</span>
                                    <span class="d-sm-block d-none">Version</span>
                                </a>
                            </li> -->

                        </ul>
                        <!-- end nav-tabs -->
                        <!-- begin tab-content -->
                        <div class="tab-content">
                            <!-- begin tab-pane -->
                            <div class="tab-pane fade active show" id="default-tab-1">
                                <div class="table-responsive">
                                    <table class="table table-striped mb-0">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th nowrap="">Refsource</th>
                                                <th nowrap="">URL</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let obj of viewData.link">
                                                <td>{{obj.name}}</td>
                                                <td>{{obj.refsource}}</td>
                                                <td><a [href]="obj.url" target="_blank">{{obj.url}}</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- end tab-pane -->
                            <!-- begin tab-pane -->
                            <div class="tab-pane fade" id="default-tab-2">
                                <div class="table-responsive">
                                    <table class="table table-striped mb-0">
                                        <thead>
                                            <tr>
                                                <th>LINK</th>
                                                <th nowrap="">Version</th>
                                                <th nowrap="">Description</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><a href="#">10943024</a></td>
                                                <td>Version 1</td>
                                                <td>Lorem ipsum, or lipsum as it is sometimes known, is dummy text
                                                    used in laying out print, graphic or web designs. The passage is
                                                    attributed to an unknown typesetter in the 15th century who is
                                                    thought to have scrambled parts of Cicero's De Finibus Bonorum
                                                    et Malorum for use in a type specimen book.</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- end tab-pane -->

                        </div>
                        <!-- end tab-content -->
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--end-->
</div>