<div *ngIf="!showComp && compName == 'card'">
  <!-- <div>
    <app-dashboard-card (valueChange)='tableValueChange($event)'></app-dashboard-card>
  </div> -->
  <div class="row">
    <div class="col-lg-12">
      <!-- begin panel -->
      <div class="panel panel-inverse" data-sortable-id="index-1">
        <div class="panel-heading">
          <h4 class="panel-title">CVE Listing</h4>
          <div class="panel-heading-btn" style="margin-top: -21px;">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i
                class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i
                class="fa fa-redo"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i
                class="fa fa-minus"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i
                class="fa fa-times"></i></a>
          </div>
        </div>

        <div class="panel-body" *ngIf="rowData.length != 0">
          <div class="table-responsive">
            <ag-grid-angular style="    height: 345px;" class="ag-theme-balham" [rowData]="rowData | paginate: {itemsPerPage: pageSize,
                  currentPage: pageIndex, totalItems: totalCount }" [columnDefs]="columnDefs"
              [defaultColDef]="defaultColDef" [frameworkComponents]="frameworkComponents">
            </ag-grid-angular>
          </div>
  
          <div class="pagination pagination-sm m-t-5 m-b-5 pull-right">
            <pagination-controls (pageChange)="pageChanged($event)" autoHide="true" responsive="true"
              previousLabel="Previous" nextLabel="Next"></pagination-controls>
          </div>
  
        </div>
  
        <div class="text-center" *ngIf="rowData.length == 0" style="padding: 10px;">
          <p>No data found.</p>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="mt-2" *ngIf="showComp && compName == 'view'">
  <div class="row" style="width: 100%; margin-left: 10px;">
    <div class="pull-right mb-3">
      <a class="btn btn-primary back-button" (click)="getcomponent()"><i class="fa fa-arrow-left fa-2x"
          aria-hidden="true"></i></a>
    </div>
  </div>
  <app-dashboard-view-more [rowDataClicked1]="rowDataClicked1"></app-dashboard-view-more>
</div>