<div>
  <app-dashboard-card (valueChange)='newtableValue($event)'></app-dashboard-card>
</div>

<div class="row" *ngIf="!showTemp && compName == 'info-view'">
  <div class="col-lg-12">
    <div class="panel panel-inverse" data-sortable-id="index-1">
      <div class="panel-heading">
        <h4 class="panel-title">Info</h4>
        <div class="panel-heading-btn" style="margin-top: -21px;">
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i
              class="fa fa-expand"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i
              class="fa fa-redo"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i
              class="fa fa-minus"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i
              class="fa fa-times"></i></a>
        </div>
      </div>

      <div class="panel-body"  *ngIf="rowData.length != 0">
        <div class="table-responsive">
          <ag-grid-angular style="    height: 345px;" class="ag-theme-balham" [rowData]="rowData | paginate: {itemsPerPage: pageSize,
                currentPage: pageIndex, totalItems: totalCount }" [columnDefs]="columnDefs"
            [defaultColDef]="defaultColDef" [frameworkComponents]="frameworkComponents">
          </ag-grid-angular>
        </div>

        <div class="pagination pagination-sm m-t-5 m-b-5 pull-right">
          <pagination-controls (pageChange)="pageChanged($event)" autoHide="true" responsive="true"
            previousLabel="Previous" nextLabel="Next"></pagination-controls>
        </div>

      </div>

      <div class="text-center" *ngIf="rowData.length == 0" style="padding: 10px;">
        <p>No data found.</p>
      </div>

    </div>
  </div>
</div>

<div *ngIf="showTemp && compName == 'cve-view' ">
  <app-card-table-details [productName]="productName" [vendorName]="vendorName" [version]="version" [mtnType]="mtnType"
    [cardType]="cardType">
  </app-card-table-details>
</div>


          <!-- <table class="table table-striped mb-0">
                <thead>
                  <tr>
                    <th>Product Name</th>
                    <th nowrap="">Vendor Name</th>
                    <th nowrap="">Version</th>
                    <th nowrap="">{{tableHeaderName}}</th>
                    <th nowrap="">Action</th>
                  </tr>
                </thead>
                <tbody *ngIf="cardData">
                  <tr *ngFor="let obj of cardData">
                    <td>{{obj.product}}</td>
                    <td>{{obj.vendor}}</td>
                    <td>{{obj.version}}</td>
                    <td>{{obj.total_record}}</td>
                    <td><a class="btn btn-primary" (click)="gotoCardTable(obj)">View more</a></td>
                  </tr>
                </tbody>
              </table> -->