<div>
  <div class="row  mt-2">

    <div class="col-lg-3 col-md-6">
      <div class="widget widget-stats bg-grey-darker">
        <div class="stats-icon"><i class="fa fa-desktop"></i></div>
        <div class="stats-info">
          <div class="row">
            <div class="col-6" style="border-right:1px solid #fff;" >
              <!-- (click)="gotoCardDetailsTotal('total', 'cve')" -->
              <div class="f-s-12 text-center pt-2">TOTAL <br>CVE</div>
              <div class="f-s-18 pt-2 m-b-5 f-w-600 p-b-2 text-center" >
                <i *ngIf="!dashboardCardValue" class="fa fa-spinner fa-spin"></i>
                <span *ngIf="dashboardCardValue">{{dashboardCardValue.firstTotalCount}}</span></div>
            </div>
            <div class="col-6" (click)="gotoCardDetailsTotal('mtn', 'cve')">
              <div class="f-s-12 pt-2 text-center">MTN TOTAL <br>CVE</div>
              <div class="f-s-18 pt-2 m-b-5 f-w-600 p-b-2 text-center">
                <i *ngIf="!dashboardCardValue" class="fa fa-spinner fa-spin"></i>
                <span *ngIf="dashboardCardValue">{{dashboardCardValue.mtn_cve}}</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="widget widget-stats bg-red">
        <div class="stats-icon"><i class="fa fa-link"></i></div>
        <div class="stats-info">
          <div class="row ">
            <div class="col-6" style="border-right:1px solid #fff;">
              <!-- (click)="gotoCardDetailsTotal('total', 'high_severity')" -->
              <div class="f-s-12 text-center pt-2">HIGH <br>SEVERITY</div>
              <div class="f-s-18 pt-2 m-b-5 f-w-600 p-b-2 text-center" >
                <i *ngIf="!dashboardCardValue" class="fa fa-spinner fa-spin"></i>
                <span *ngIf="dashboardCardValue">{{dashboardCardValue.high_severity}}</span></div>
            </div>
            <div class="col-6" (click)="gotoCardDetailsTotal('mtn', 'high_severity')">
              <div class="f-s-12 pt-2 text-center">MTN HIGH SEVERITY</div>
              <div class="f-s-18 pt-2 m-b-5 f-w-600 p-b-2 text-center" >
                <i *ngIf="!dashboardCardValue" class="fa fa-spinner fa-spin"></i>
                <span *ngIf="dashboardCardValue">{{dashboardCardValue.mtn_high_severity}}</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="widget widget-stats bg-orange">
        <div class="stats-icon"><i class="fa fa-users"></i></div>
        <div class="stats-info">
          <div class="row">
            <div class="col-6" style="border-right:1px solid #fff;">
              <!-- (click)="gotoCardDetailsTotal('total', 'medium_severity')" -->
              <div class="f-s-12 text-center pt-2">MEDIUM SEVERITY</div>
              <div class="f-s-18 pt-2 m-b-5 f-w-600 p-b-2 text-center">
                <i *ngIf="!dashboardCardValue" class="fa fa-spinner fa-spin"></i>
                <span *ngIf="dashboardCardValue">{{dashboardCardValue.medium_severity}}</span></div>
            </div>
            <div class="col-6" (click)="gotoCardDetailsTotal('mtn', 'medium_severity')">
              <div class="f-s-12 pt-2 text-center">MTN MEDIUM SEVERITY</div>
              <div class="f-s-18 pt-2 m-b-5 f-w-600 p-b-2 text-center">
                <i *ngIf="!dashboardCardValue" class="fa fa-spinner fa-spin"></i>
                <span *ngIf="dashboardCardValue">{{dashboardCardValue.mtn_medium_severity}}</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="widget widget-stats bg-green">
        <div class="stats-icon"><i class="fa fa-clock"></i></div>
        <div class="stats-info">
          <div class="row">
            <div class="col-6" style="border-right:1px solid #fff;">
              <!-- (click)="gotoCardDetailsTotal('total', 'low_severity')" -->
              <div class="f-s-12 text-center pt-2">LOW <br>SEVERITY</div>
              <div class="f-s-18 pt-2 m-b-5 f-w-600 p-b-2 text-center">
                <i *ngIf="!dashboardCardValue" class="fa fa-spinner fa-spin"></i>
                <span *ngIf="dashboardCardValue">{{dashboardCardValue.low_severity}}</span></div>
            </div>
            <div class="col-6" (click)="gotoCardDetailsTotal('mtn', 'low_severity')">
              <div class="f-s-12 pt-2 text-center">MTN LOW SEVERITY</div>
              <div class="f-s-18 pt-2 m-b-5 f-w-600 p-b-2 text-center">
                <i *ngIf="!dashboardCardValue" class="fa fa-spinner fa-spin"></i>
                <span *ngIf="dashboardCardValue">{{dashboardCardValue.mtn_low_severity}}</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
