.fade:not(.show) {
    opacity: inherit!important;
 }
.content {
    /* margin-left: 220px; */
    padding: 5px 30px!important;
	}
	.panel-body {
    padding: 0px!important;
	}
	.table>tbody>tr>td {
	padding: 3px 10px!important;
	}
	
.table td.text {
    max-width: 177px;
}
.table td.text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
.sidebar .nav>li.nav-profile>a {
    margin: -20px;
    padding: 0px!important;
    display: block;
    color: #fff;
}
.sidebar .nav>li.nav-profile .image {
    width: 220px!important;
    height: 250px!important;
    margin-bottom: 0px!important;
    overflow: hidden;
    border-radius: 0%!important;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.back-button{
    border-radius: 25px;
    width: 62px;
}
.sidebar .nav > li > a{
    padding: 6px 20px;
}
.sidebar .nav > li.active > a, .sidebar .nav > li.active > a:focus, .sidebar .nav > li.active > a:hover, .page-sidebar-minified .sidebar .nav > li.has-sub.active:focus > a, .page-sidebar-minified .sidebar .nav > li.has-sub.active:hover > a, .page-sidebar-minified .sidebar .nav > li.has-sub.active > a, .label.label-theme, .btn.btn-scroll-to-top {
    background: #00BCD4!important;
}
.sidebar .nav>li.active>a, .sidebar .nav>li.active>a:focus, .sidebar .nav>li.active>a:hover {
    color: #fff!important;
    /* background: #222; */
}