<!-- begin page-cover -->
<div class="page-cover"></div>
<!-- end page-cover -->

<!-- begin #page-loader -->
<!-- <div id="page-loader" class="fade show"><span class="spinner"></span></div> -->
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
  <!-- begin #header -->
  <div id="header" class="header navbar-default">
    <!-- begin navbar-header -->
    <div class="navbar-header">
      <a href="index.html" class="navbar-brand"><img src="assets/img/user/logo.png" alt="" /></a>
      <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- end navbar-header -->

    <!-- begin header-nav -->
    <ul class="navbar-nav navbar-right">

      <li class="dropdown navbar-user">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
          <img src="assets/img/user/user-13.jpg" alt="" />
          <span class="d-none d-md-inline">Admin</span> <b class="caret"></b>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a href="javascript:;" class="dropdown-item">Edit Profile</a>
          <a href="javascript:;" class="dropdown-item">Calendar</a>
          <a href="javascript:;" class="dropdown-item">Setting</a>
          <div class="dropdown-divider"></div>
          <a href="javascript:;" class="dropdown-item">Log Out</a>
        </div>
      </li>
    </ul>
    <!-- end header navigation right -->
  </div>
  <!-- end #header -->

  <!-- begin #sidebar -->
  <div id="sidebar" class="sidebar">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
      <!-- begin sidebar user -->
      <ul class="nav">
        <li class="nav-profile">
          <a href="javascript:;" style="margin-top: -20px;" data-toggle="nav-profile">
            <div class="image">
              <img src="assets/img/user/client.jpg" alt="" />
            </div>
          </a>
        </li>

      </ul>
      <!-- end sidebar user -->
      <!-- begin sidebar nav -->
      <ul class="nav" style="margin-top:-14%;">
        <!-- <li class="nav-header"></li> -->
        <!-- <li class="has-sub active">
          <a href="javascript:;">
            <b class="caret"></b>
            <i class="fa fa-th-large"></i>
            <span>Device</span>
          </a>
        </li> 
      
    [class.active]="mainMenuActive" [ngClass]="mainMenuActive ?'expand':'closed'" (click)="getStatus()"-->
        <li class="has-sub" >
          <a href="javascript:;" (click)="getSideMenuData()">
            <b class="caret"></b>
            <!-- <i class="fa fa-align-left"></i> -->
            <img src="assets/img/user/device.png" alt="" style="height:10px;" />
            &nbsp; <span>Device</span>
          </a>
          <ul class="nav sub-menu" [ngStyle]="{'display': sideMenu.length > 0 ? 'block':'none'}">
            <li class="has-sub" *ngFor="let menu of sideMenu" [class.active]="menu.isActive">
              <a href="javascript:;" (click)="getSubMenu(menu.id, 'vendor')">
                <b class="caret"></b>
                <!-- *ngIf="menu.subMenu.length > 0" -->
                {{menu.name}}
              </a>
              <ul class="sub-menu" [ngStyle]="{'display': menu.subMenu.length > 0 ? 'block':'none'}">
                <li class="has-sub" *ngFor="let sbmenu of menu.subMenu" [class.active]="sbmenu.isActive">
                  <a href="javascript:;" (click)="getSubOfSubMenu(menu.id,sbmenu.id, 'product')">
                    <b class="caret"></b>
                    <!-- *ngIf="sbmenu.subMenu.length > 0" -->
                    {{sbmenu.name}}
                  </a>
                  <ul class="sub-menu" [ngStyle]="{'display': sbmenu.subMenu.length > 0 ? 'block':'none'}">
                    <li *ngFor="let childmenu of sbmenu.subMenu">
                      <a href="javascript:;" (click)="getlastMenu(childmenu.id, 'version')">{{childmenu.name}}</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>

          </ul>
        </li>

        <!-- begin sidebar minify button -->
        <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i
              class="fa fa-angle-double-left"></i></a></li>
        <!-- end sidebar minify button -->

      </ul>
      <!-- end sidebar nav -->
    </div>
    <!-- end sidebar scrollbar -->
  </div>
  <div class="sidebar-bg"></div>
  <!-- end #sidebar -->

  <!-- begin #content -->
  <div id="content" class="content">

    <div *ngIf="!showComp && compName == 'dashboard'">
      <app-dashboard-card (valueChange)='displayComponents($event)'></app-dashboard-card>
    </div>

    <div class="row" *ngIf="!showComp && compName == 'dashboard'">
      <div class="col-lg-12">
        <!-- begin panel -->
        <div class="panel panel-inverse" data-sortable-id="index-1">
          <div class="panel-heading">
            <h4 class="panel-title">CVE Listing</h4>
            <div class="panel-heading-btn" style="margin-top: -21px;">
              <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i
                  class="fa fa-expand"></i></a>
              <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i
                  class="fa fa-redo"></i></a>
              <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i
                  class="fa fa-minus"></i></a>
              <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i
                  class="fa fa-times"></i></a>
            </div>
          </div>
          <div class="panel-body" *ngIf="rowData.length != 0">

            <div class="table-responsive">
              <ag-grid-angular style="    height: 345px;" class="ag-theme-balham" [rowData]="rowData | paginate: {itemsPerPage: pageSize,
                currentPage: pageIndex, totalItems: geTotalCount() }" [columnDefs]="columnDefs"
                [defaultColDef]="defaultColDef" [frameworkComponents]="frameworkComponents">
              </ag-grid-angular>
            </div>


            <div class="pagination pagination-sm m-t-5 m-b-5 pull-right">
              <pagination-controls (pageChange)="pageChanged($event)" autoHide="true" responsive="true"
                previousLabel="Previous" nextLabel="Next"></pagination-controls>
            </div>

          </div>

          <div class="text-center" *ngIf="rowData.length == 0" style="padding: 10px;">
            <p>No data found.</p>
          </div>
        </div>
      </div>
    </div>


    <div class="mt-2" *ngIf="showComp && compName == 'card-view'">
      <app-card-view-details [mtnType]="mtnType" [cardType]="cardType"></app-card-view-details>
    </div>

    <div class="mt-2" *ngIf="showComp && compName == 'view-more'">
      <div class="row" style="width: 100%; margin-left: 10px;">
        <div class="pull-right mb-3">
          <a class="btn btn-primary back-button" (click)="getcomponent()"><i class="fa fa-arrow-left fa-2x"
              aria-hidden="true"></i></a>
        </div>
      </div>
      <app-dashboard-view-more [rowDataClicked1]="rowDataClicked1"></app-dashboard-view-more>
    </div>

    <!-- <div class="mt-2" *ngIf="showComp && compName == 'card-view'">
      <div class="row" style="width: 100%; margin-left: 10px;">
        <div class="pull-right mb-3">
          <a class="btn btn-primary back-button" (click)="getcomponent()"><i class="fa fa-arrow-left fa-2x"
              aria-hidden="true"></i></a>
        </div>
      </div>
      <app-card-view-details [mtnType]="mtnType" [cardType]="cardType"></app-card-view-details>
    </div> -->

  </div>


  <div class="footer">
    <div class="row">
      <div class="col-lg-6 col-md-7">© Copyrights © 2019 &amp; All Rights Reserved by In2IT Technology PVT. LTD.
      </div>
    </div>
  </div>

  <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i
      class="fa fa-angle-up"></i></a>
  <!-- end page container -->
</div>

<ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
</ngx-spinner>